h1 {
  padding: 20px 0;
  background-color: turquoise;
  font-family: "Chakra Petch", sans-serif;
  font-size: 25px;
}
#how-to-play,
#scoring-table,
#game-display {
  margin-bottom: 35px;
}
ol {
  text-align: justify;
  padding-inline-start: 1em;
  margin-right: 1em;
}

table,
th,
td {
  border: 1px solid black;
}
#player-card-container {
  padding: 50px 20px;
  background-color: white;
  text-align: center;
  border-radius: 8px;
  border-color: blueviolet;
  border-style: solid;
  display: inline-block;
}
#player-hand-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 15px;
  background-color: yellowgreen;
  border-radius: 20px;
  max-width: 500px;
  height: 200px;
}
.card {
  margin: 2px;
  padding: 10px;
  background-color: white;
  width: 70px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}
.card-border {
  border-width: 4px;
}
.suit {
  margin: 2px;
  font-size: 20px;
}
.name {
  margin: 2px;
  font-size: 12px;
}
.red {
  color: rgb(221, 7, 7);
}
.black {
  color: black;
}
