*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px 20px; */
}


@media (max-width: 600px) {
header {
  flex-wrap: wrap;
}
}

.banner{
  width: 60vw;
  /* position: relative; */
}

@media (max-width: 650px) {
.banner {
  margin-top: 15px;
  width: 100%;
  position: relative;
}
}

/* .banner > img{ */
#header-banner{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


/* .game-name{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
} */



@media (max-width: 650px) {
.banner > img {
  margin: 0;
}

#header-banner{
  margin: 0;
  width: 650px;
  height: auto;
  justify-content: flex-start
}
}

/*Top navigation bar*/

nav {
font-weight: 400;
overflow: hidden;
display: flex;
margin-block-start: auto;
/* flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-end; */
}

.nav-list{
  list-style: none;
}

@media (max-width: 650px) {
nav {
  margin-top: 0px ;
  margin-left: 80%;
  margin-right: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  text-align: center; */
  padding: 0px;
  
}
nav li {
  flex-direction: row;
  /* text-align: center; */
  padding: 0px 5px;
  text-decoration: none;
}
}


nav > ul {
width: 35vw;
display: flex;
flex-direction: row;
justify-content: flex-end;
/* text-align: center; */
margin-top: 30%;
}

@media (max-width: 650px) {
nav > ul {
  flex-direction: row;
  margin-top: 0%;
  align-items: flex-start;
}
}

#nav-bar a{
/* float: right; */
display: flex;
color: white;
/* text-align: center; */
padding: 14px 20px 0px;
text-decoration: none;
background-color: orangered;
}

@media (max-width: 650px) {
#nav-bar a {
  flex-direction: column;
  padding: 0;
  text-align: end;
  margin: 0;
}
}

.nav-link:hover{
background-color: rgb(1, 41, 1);
text-emphasis-color: cornsilk;
}

.game{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;

}


.game-play{
border: 1px solid orangered;
border-radius: 9px;
background-color: rgb(255, 145, 0);
}


.game-play > div{
margin-top: 20px;
text-align: center;
}

.bet-amount{
border-radius: 3px;
border: 1px solid orangered;
}


.button-common{
background-color: orangered;
color: white;
text-align: center;
border: 1px solid orangered;
border-radius: 9px;
margin: 10px;
padding: 7px 7px ;
}

.stand-alone-button{
font-size: 1.1em;
border-radius: 6px;
padding: 10px 15px ;
}

.single-card{
display: inline-block;
vertical-align: top;
margin: 10px;
width: 100px;
height: 135px;
/* background-color: rgb(247, 206, 160);   */
border-radius: 5px;
text-align:center;
color:black;
}
.hold-status{
font-size: 20px;
}

.image-card{
width: 100%;
}



/* The Modal (background) */
.modal{
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(1,1,1); /* Fallback color */
background-color: rgba(248, 215, 172, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: rgb(255, 217, 147);
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
line-height: 1.5em;
}
/* The Close Button */
.close {
color: orangered;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.credit-grid-container{
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 2px;
padding: 10px;
}

.grid-container {
display: grid;
grid-template-columns: 60px 60px 60px 70px 70px 60px auto;
grid-gap: 2px;
/* background-color: #2196F3; */
padding: 10px;
line-height: 1em;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 10px 0;
font-size: 12px;
}

.grid-col-header{
font-style: italic;
font-weight: bold;
}

.result-cards{
text-align: start;
}


.reduced-card{ 
margin: 1px;
}

.reduced-image{
width: 70%;
}


.tooltip .tooltip-text {
  visibility: hidden;
  background-color: lightgoldenrodyellow;
  color: black;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: justify;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  left: 10%;
  margin-left: -70px;
  margin-top: -10px;;
}

/*Adding arrows on the tool tip*/
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%; /*to the left of tooltip*/
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(230, 194, 38) transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}