body {
  background-color: rgb(38, 40, 55);
  display: block;
  text-align: center;
  font-family: verdana;
}

h1 {
  display: inline-block;
  font-size: 60px;
  font-family: Fantasy;
  color: green;
}

.header-gif-style {
  display: inline-block;
  filter: brightness(2.1);
  width: 8%;
}

.image {
  width: 100%;
}

.mainContainer {
  background-color: rgb(23, 72, 163);
  width: 80%;
  margin: 0px auto;
  padding: 10px;
  border-radius: 2%;
}

/* GAME MESSAGE */
.popUpMsgContainer {
  position: fixed;
  display: flex;
  z-index: -1;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.pop-up-style {
  background-color: rgb(23, 163, 140);
  color: orange;
  font-size: 50px;
}

/* TABLE CONTAINER */
.tableElement {
  display: flex;
  background-color: rgb(50, 50, 50);
  text-shadow: 2px 2px #020000;
  font-family: verdana;
  font-weight: bold;
}
.firsttableCol {
  width: 200px;
  border: rgb(255, 255, 3) solid 3px;
  color: rgb(255, 255, 3);
  padding: 5px 0px;
  /* border-style: solid; */
}
.numbertableCol {
  display: inline-block;
  flex: 1;
  border: rgb(255, 255, 3) solid 3px;
  color: rgb(255, 255, 3);
  padding: 5px 0px;
  /* background-color: grey; */
  /* height: 100%; */
}

.gameMessage {
  height: 50px;
  font-size: 30px;
}

/* CARD CONTAINER */

.grey-background {
  background-color: grey;
}

.cardsContainer {
  min-height: 180px;
}

.card-style {
  display: inline-block;
  width: 18%;
  margin: 5px 5px;
}

.highlight-card {
}

/* BOTTOM CONTAINER */
.bottomContainer {
  box-sizing: border-box;
  display: block;
  width: 100%;
  background-color: rgb(182, 136, 52);
  padding: 5px;
}

.bottomContainerElements {
  display: inline-block;
  box-sizing: border-box;
  height: 80%;
  width: 33%;
  margin: 5px auto;
  vertical-align: middle;
  padding: 5px 5px;
}

.betAmtElement {
  vertical-align: middle;
  float: left;
  width: 50%;
}

.betBtns {
  /* display: inline-block; */
  vertical-align: top;
  float: right;
  width: 28%;
  height: 40%;
}

.dealDrawBtn {
  height: 80%;
  width: 30%;
  font-size: 3vw;
}

.big-words {
  font-size: 3.5vw;
  text-align: left;
}

@media (min-width: 750px) {
  .mainContainer {
    max-width: 750px;
  }
  .big-words {
    font-size: 30px;
  }
  .dealDrawBtn {
    font-size: 30px;
  }
}
